/* TSOS.css */

body {
  background: #909193 url(distrib/images/WinLtBlue.jpg) fixed;
  background-size:cover;
  -background-color:rgb(5, 121, 153);
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  min-width: 1500px;
  max-width: 1500px;
  
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

label {
  font-size: 14pt;
  background-color:rgba(142, 185, 218, 0.2);
  padding-top: 2px;
  margin-top: 5px;
  padding-bottom: 1px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
}

#display {
  background-color:rgb(173, 199, 199);
  border: 2px solid white;
  cursor: default;
}


#divHead {
  margin-left: auto;
  margin-right: auto;
  width:1400px; 
  height:70px;
  background-color: rgba(0, 139, 139, 0.9);
  -background-color:rgb(142, 185, 218, 0.9);
}

#divButtonBar {
  -margin:4px; 
  width:596px; 
  height: 62px;
  padding: 4px;
  float:left;
  -background-color: yellow;
  text-align: center;

}
.normal_button {
  width: 90px;
  height: 50px;

  /* centering: */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 6px;
}


#divTaskbar {
  margin-left: 21px;
  height:100%; 
  float:left; 
  vertical-align: middle;
  -background-color: violet;
  padding-left: 10px;
  -width: 800px;
  text-wrap: wrap;
}
#divStatus {
  width: 595px;
  -background-color: pink;
}

#col1{
  margin-left:0px; 
  margin-top:15px; 
  float:left;
  overflow: visible; 
}
#col2 {
  margin-left:25px;
  margin-top:10px; 
  float:left;
}
#col3 {
  margin-left:25px; 
  margin-top:10px; 
  float:left;
}

table{
  background-color: whitesmoke;
  border: 1px solid black;
  display: block;  
  text-align: center;

}


#diskTable{
  height: 400px;
  overflow-y: scroll;
  -overflow-x: scroll;
  background-color: none;
  position: relative; 
  width: 1400px;
}
.diskColLabel{
  background-color:darkcyan;
  -width: 75px;
  -border: 1px solid black;
}
.diskKey{
  background-color: lightsteelblue;
  width: 75px;
}
.diskInUse{
  background-color: lightsteelblue;
  width: 50px;
}
.diskTSB{
  background-color: lightsteelblue;
  width: 75px;
}
.diskData{
  background-color: lightsteelblue;
  width: 875px;

}


#memoryTable{
  height: 263px;
  overflow-y: scroll;
  background-color: none;
}
.memoryRowLabel{
  background-color:darkcyan;
  width: 75px;
  -border: 1px solid black;
}
.memoryBox{
  background-color: lightsteelblue;
  width: 50px;
}
.highlightPC{
  background-color: lightskyblue;
}

.cpuColLabel{
  background-color: darkcyan;
  width: 60px;
  -border: 1px solid black;
}
.cpuColLabelS{
  background-color: darkcyan;
  width: 60px;
  font-size: 12px;
}
.cpuBox{
  background-color: lightskyblue;
  -width: 60px;
}

.pcbColLabel{
  background-color: darkcyan;
  width: 60px;
}
.pcbBox{
  background-color: lightskyblue;
  -width: 50px;
}
.pcbBoxS{
  background-color: lightskyblue;
  font-size:12px;
}
#pcbTable{
  height: 150px;
  overflow-y: scroll;
  background-color: none;
}



.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
  background-color: cadetblue;
}